

[Unit]
PartOf=pki-tomcatd-nuxwdog.target

[Service]
Type=simple

# Workaround: https://github.com/systemd/systemd/issues/1232#issuecomment-367209577
ExecStartPre=+/usr/bin/setfacl -m u:pkiuser:wx /run/systemd/ask-password
ExecStartPre=/usr/bin/java -cp /home/dmoluguw/eclipse-workspace/keyctl-java-test/bin/ KeyctlJavaTest

ExecStartPost=+/usr/bin/setfacl -x u:pkiuser /run/systemd/ask-password

ExecStart=/usr/bin/java -cp /home/dmoluguw/eclipse-workspace/keyctl-java-test/bin/ KeyctlRetrieve
User=pkiuser
Group=pkiuser
KeyringMode=shared
#Restart=on-failure
# RestartPreventExitStatus=143
